<?xml version="1.0"?>
<!--
/**
 * @package ZShapeTech_Slider
 * @author ZShapeTech <zshapetech@gmail.com>
 * @license http://www.opensource.org/licenses/mit-license.html  MIT License
 * @version $Id$
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <zshape_slider>
			<options>
				<enable>1</enable>
				<adaptive_height>0</adaptive_height>
				<autoplay>0</autoplay>
				<autoplay_speed>3000</autoplay_speed>
				<arrows>1</arrows>
				<dots>0</dots>
			</options>
        </zshape_slider>
    </default>
</config>
