<?xml version="1.0"?>
<!--
/**
 * @package ZShapeTech_Slider
 * @author ZShapeTech <zshapetech@gmail.com>
 * @license http://www.opensource.org/licenses/mit-license.html  MIT License
 * @version $Id$
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ZShapeTech\Slider\Api\Data\SlideSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="ZShapeTech\Slider\Api\Data\SlideInterface" type="ZShapeTech\Slider\Model\Slide" />
    <preference for="ZShapeTech\Slider\Api\SlideRepositoryInterface" type="ZShapeTech\Slider\Model\SlideRepository" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="zshape_slide_listing_data_source" xsi:type="string">ZShapeTech\Slider\Model\ResourceModel\Slide\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="ZShapeTech\Slider\Model\ResourceModel\Slide\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">zshape_slide</argument>
            <argument name="eventPrefix" xsi:type="string">zshape_slide_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">slide_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">ZShapeTech\Slider\Model\ResourceModel\Slide</argument>
        </arguments>
    </type>
    <virtualType name="ZShapeGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="ZShapeTech\Slider\Api\Data\SlideInterface" xsi:type="string">ZShapeTech\Slider\Api\SlideRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="ZShapeTech\Slider\Api\Data\SlideInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">zshape_slide</item>
                    <item name="identifierField" xsi:type="string">slide_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="ZShapeTech\Slider\Api\Data\SlideInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader" xsi:type="string">ZShapeTech\Slider\Model\ResourceModel\Slide\Relation\Store\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeCreator" xsi:type="string">ZShapeTech\Slider\Model\ResourceModel\Slide\Relation\Store\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater" xsi:type="string">ZShapeTech\Slider\Model\ResourceModel\Slide\Relation\Store\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="ZShapeTech\Slider\Api\Data\SlideInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ZShapeTech\Slider\Model\Api\SearchCriteria\CollectionProcessor\SlideFilterProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="store_id" xsi:type="object">ZShapeTech\Slider\Model\Api\SearchCriteria\CollectionProcessor\FilterProcessor\SlideStoreFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ZShapeTech\Slider\Model\Api\SearchCriteria\SlideCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">ZShapeTech\Slider\Model\Api\SearchCriteria\CollectionProcessor\SlideFilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="ZShapeTech\Slider\Model\SlideRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">ZShapeTech\Slider\Model\Api\SearchCriteria\SlideCollectionProcessor</argument>
        </arguments>
    </type>
    <type name="ZShapeTech\Slider\Model\MetadataProvider">
        <arguments>
            <argument name="metadata" xsi:type="array">
				<item name="slide_src" xsi:type="array">
                    <item name="path" xsi:type="string">zshape/slide/src</item>
                    <item name="fieldset" xsi:type="string">general</item>
                    <item name="backend_model" xsi:type="string">ZShapeTech\Slider\Model\Backend\Slide</item>
                    <item name="base_url" xsi:type="array">
                        <item name="type" xsi:type="string">media</item>
                        <item name="scope_info" xsi:type="string">1</item>
                        <item name="value" xsi:type="string">slide</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
